<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094260650347-btl5botvb9kah64r5m7j2le75g58g9i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094260650347-btl5botvb9kah64r5m7j2le75g58g9i7</string>
	<key>API_KEY</key>
	<string>AIzaSyB6HHy_iF8miLEjlxmYU72loTJ1tcdaXPg</string>
	<key>GCM_SENDER_ID</key>
	<string>1094260650347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommeres</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-84f19</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-84f19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094260650347:ios:06bb0bf3eb7babbc8c1c2e</string>
</dict>
</plist>